<div class="parent">
<form class= "mainC" [formGroup]="forgotPasswordForm">
    <h2>Password assistance</h2>
    <p class="inputContainer">
        Enter new passowrd:
        <input class="inputField" type="password" value="" placeholder="Enter new password" formControlName="forgot_passowrd">
    </p>
    <P class="inputContainer">
        Confirm Password:
        <input class="inputField" type="password" value="" placeholder="Enter confirm password" formControlName="forgot_password">
    </P>
    <P class="inputContainer">
        Enter OTP Code:
        <input  class="inputField" type="number" value="" placeholder="Enter OTP Code" formControlName="forgot_otp_number">
    </P>
    <p class="inputContainer">
        <button class="buttonContent" (click)="forgotPasswordButton()">Submit</button>
    </p>
</form>
</div>
