.homeImg {
    flex: 1;
    background-color: #FFFFFF;
    /* background-image: ; */
    width: 50%;
    border: 2px solid #9ACD32;
    padding: 25%;
    align-items: center;
  }

  /* .homeImg {

  } */