<div class="headerContainer">
    <div class="itemList">
        <img src="../../../assets/logo.png" class="logoImg"/>
        <button class="headerButton ">Product</button>
        <!-- <button class="headerButton compareButton">Compare</button> -->
        <button class="headerButton catagoryButton">Catagories</button>
        <button class="headerButton loginButton" (click)="login()">Login/Signup</button>
        <button class="headerButton cartButton" (click)="cart()">
            <img src="../../../assets/shopping-cart.png" class="cartImg"/>
            Cart
        </button>
    </div>
    <div class="searchBox">
        <input class="searchField" type="text" placeholder="search">
        <button class="searchButton">
            <img src="../../../assets/search-icon.png" class="searchImg"/>
        </button>
   </div>
</div>
