.parent {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #9ACD32; */
}
.mainC {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
    align-items: center;
    border: 2px solid #FFBF00;
    padding: 20px;
    margin-top: 10px;
}

.inputContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.inputField {
    display: flex;
    margin-top: 10px;
    height: 40px;
    width: 100%;
}

.buttonContent {
    width: 60%;
    height: 40px;
    background-color: #FFBF00	;
    align-self: center;
}

.buttonContent1 {
    width: 60%;
    height: 40px;
    background-color: #fff	;
    align-self: center;
    border: #fff;
}

.buttonContent2 {
    width: 60%;
    height: 40px;
    background-color: #ebe7dd	;
    align-self: center;
    border: 1px solid #808080;
}